* {
    margin: 0px;
    padding: 0px;
    font-family: 'open sans'sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/* Header */
.container {
    width: 100%;
    height: 100px;
    background-color: #F9F9F9;
    margin-top: 0px;
    position: relative;
    top: 0px;
    position: fixed;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .15);
    z-index: 1;
}

.title {
    font-family: 'open sans';
    font-size: 50px;
    font-weight: 800;
    color: #4b1799;
    width: 800px;
    height: 100px;
    box-sizing: border-box;
    padding: 20px 200px;
}

.menu {
    position: absolute;
    top: 0px;
    right: 100px;
    width: 800px;
}

div ul li {
    display: inline-block;
}

div ul li a {
    text-decoration: none;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-right: 40px;
    margin-top: 30px;
}

div ul li a:hover {
    text-decoration: underline;
}

a.blue-button {
    color: #fff;
    background: #3EDBF0;
    border-radius: 20px;
}

a.blue-button:hover {
    text-decoration: none;
    background: #FFC107;
}



/* Main */
.img {
    width: 700px;
    position: relative;
    top: 200px;
    left: 100px;
}


/* article */
.desc {
    margin-top: -300px;
    margin-left: 1050px;
    font-family: 'open serif';
    font-size: 25px;
}

a.yellow-button {
    background: #FFC107;
    color: #fff;
    border-radius: 20px;
    position: relative;
    top: 10px;
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

a.yellow-button:hover {
    background: #3EDBF0;
}


/* Article */
#courses {
    margin-bottom: 200px;

}

.desc2 {
    margin-top: 600px;
    margin-left: 300px;
    font-family: 'open serif';
    font-size: 25px;
    width: 600px;
}

a.green-button {
    margin-top: 20px;
    background: hsl(120, 50%, 49%);
    color: #fff;
    border-radius: 20px;
    position: relative;
    top: 10px;
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

a.green-button:hover {
    background: #3EDBF0;
}

.img2 {
    height: 900px;
    margin-left: 1000px;
    margin-top: -500px;
}



/* Aside */
#about h2 {
    font-size: 30px;
    margin-left: 193px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.profil {
    width: 500px;
    height: 600px;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, .500);
    box-shadow: 0 60px 20px -40px rgba(0, 0, 0, .35);
}

.profil:hover {}

.image {
    border-radius: 100%;
    margin-left: 110px;
}

.data {
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

.data p {
    margin: 10px;
}




/* Footer */
.info {
    width: 35%;
    height: 400px;
    background: rgb(136, 136, 136);
    margin-top: 300px;
    border-top: 2px solid rgb(110, 110, 110);
}


.name {
    width: 200px;
    height: 200px;
    margin-left: 250px;
    position: relative;
    top: 70px;
    font-size: 20px;
}

.name h2 {
    color: #4b1799;
    margin-bottom: 30px;
}

.info2 {
    position: relative;
    float: right;
    width: 65%;
    height: 400px;
    border-top: 2px solid rgb(110, 110, 110);
    margin-top: -402px;
}

.clearfix::after {
    content: "";
    clear: both;
}

.notes {
    margin-top: 70px;
    margin-left: 100px;
    height: 100px;
    width: 300px;
}

.notes p {
    padding-top: 30px;
    font-size: 20px;
}

.media {
    margin-top: -105px;
    margin-left: 600px;
}

.media h2 {
    margin-bottom: 50px;
}

.media .fb,
.ig,
.tg,
.wa {
    margin-right: 30px;
}

.copyright {
    width: 100%;
    height: 20px;
    background: rgb(54, 54, 54);
    display: flex;
    justify-content: space-around;
}

.copyright p {
    color: #fff;
}

@media screen and (max-width: 780px) {
    .container {
        width: 100%;
        float: none;
    }

    #home,
    #courses,
    #about,
    #contact {
        width: 100%;
        float: none;
    }

    .copyright {
        text-align: center;
    }
}